.mostrar {
    display: block;
  }
.oculto{
  display: none;
}
.textoOculto {
    display: none;
  }
  
div#myDiv{
    background-image: url("../imagenes/fotoHeader.jpg");
    }
.negrita{
    font-weight: bold;
}
.fondoImagenTel{
    background-image: url(../imagenes/fondoSection4V.jpg);
    background-repeat: no-repeat;
}
.fondo-azul{
    /*background-color: rgb(19, 24, 28);*/
    background-color: hsl(204, 86%, 53%);
    width: 100%;
    position: fixed;
    z-index: 1;
}

#reloj {
  background: linear-gradient(to right, blue, purple);
}


.clock {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.clock span {
  padding: 0 10px;
}

.cardsPruebasNivel{
    padding-top: 1 rem;
    padding-bottom: 1 rem;
    padding-left: 1.5 rem;
    padding-right: 1.5 rem;
}

.hide {
    max-height: 0 !important;
}

#listaDesplegable {
    font-size: 50px;
}

#sectionPruebasNivel{
    position: relative;
    top: -40px;
}
.hero-body .title {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }
.hero-body .subtitle {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }

#descripNuestroEquipo{
    font-size: 1.2rem;
}

.textoInicio{
    position: absolute;
    margin-top: 200px;
    left: 6vw;
    text-shadow: 1cm;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.carousel {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;

  }
  
  .carousel-inner {
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 3s ease-in-out;
  }
  
  .carousel-inner img {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel-inner img.active {
    opacity: 1;
  }