.mostrar {
    display: block;
  }
.textoOculto {
    display: none;
  }
  
div#myDiv{
    background-image: url("../imagenes/fotoHeader.jpg");
    }
.negrita{
    font-weight: bold;
}
.fondoImagenTel{
    background-image: url(../imagenes/fondoSection4V.jpg);
    background-repeat: no-repeat;
}
.fondo-azul{
    /*background-color: rgb(19, 24, 28);*/
    background-color: hsl(204, 86%, 53%);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.cardsPruebasNivel{
    padding-top: 1 rem;
    padding-bottom: 1 rem;
    padding-left: 1.5 rem;
    padding-right: 1.5 rem;
}

.hide {
    max-height: 0 !important;
}

#listaDesplegable {
    font-size: 50px;
}

#sectionPruebasNivel{
    position: relative;
    top: -40px;
}
.hero-body .title {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }
.hero-body .subtitle {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }

#descripNuestroEquipo{
    font-size: 1.2rem;
}